@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  height: 100vh;
}

input {
  user-select: text; /* Ensure text can be selected normally */
  -webkit-user-modify: read-write-plaintext-only; /* Disable browser suggestion overlays */
}

input:focus {
  outline: none; /* Remove the default focus outline */
}

input::-webkit-autofill,
input::-webkit-autofill:hover,
input::-webkit-autofill:focus,
input::-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: inherit !important;
}

input:focus {
  outline: none;
}
